<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Softwares | Vador</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="navBar">
        <img src="../assets/img/logo.jpg" alt="Vador Logo"> 
        <h2>Vador</h2>
    </div>
    <div class="softwareInformation">
        <h2>Softwares available</h2>
        <p>They are open-source and free!</p>
        <p><small><a href="../index.html">Go back to the home</a></small></p>
        <h3>Browsers</h3>
        <ul>
            <li>
                Firefox
            </li>
            <li>
                Chromium
            </li>
        </ul>
        <h3>Offices</h3>
        <ul>
            <li>
                LibreOffice
            </li>
            <li>
                OpenOffice
            </li>
        </ul>
        <h3>Medias</h3>
        <ul>
            <li>
                VLC
            </li>
            <li>
                HandBrake
            </li>
            <li>
                OBS
            </li>
            <li>
                ShotCut
            </li>
        </ul>
        <h3>Developpement</h3>
        <ul>
            <li>
                Visual Studio Code
            </li>
            <li>
                Git
            </li>
            <li>
                NodeJS
            </li>
            <li>
                FileZilla
            </li>
            <li>
                PostgreSQL
            </li>
        </ul>
        <h3>Security</h3>
        <ul>
            <li>
                KeePassXC
            </li>
            <li>
                Clam AV
            </li>
        </ul>
        <h3>Design and sound</h3>
        <ul>
            <li>
                Blender
            </li>
            <li>
                GIMP
            </li>
            <li>
                InkScape
            </li>
            <li>
                Audacity
            </li>
        </ul>
        <h3>And much more soon</h3>
    </div>
</body>
</html>